@using Seldino.CrossCutting.Web.Helpers
@using Seldino.CrossCutting.Web.ViewMessages
@model Seldino.Application.Query.PaymentService.PaymentsQueryResponse



<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">@PaymentViewMessage.Payments</h4>

        <hr />
        <table id="StoreList" class="table center-td">
            <thead>
                <tr>
                    <th><input type="checkbox" class="datapropfull" /></th>
                    <th>@PaymentViewMessage.Status</th>
                    <th>@PaymentViewMessage.Amount</th>
                    <th>@PaymentViewMessage.PaymentDate</th>
                    <th>@PaymentViewMessage.Merchant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Payments != null)
                {
                    foreach (var item in Model.Payments.Result)
                    {
                        string rowId = Guid.NewGuid().ToString("N");
                        <tr>
                            <td>@item.Status</td>
                            <td>@item.Amount</td>
                            <td>@item.PaymentDate</td>
                            <td>@item.Merchant</td>
                            <td>
                                <div class="btn-group">
                                    @Ajax.ActionLink(CommonViewMessage.Delete, "Delete", "Payment", new { command = item }, new AjaxOptions
                                    {
                                        Confirm = CommonViewMessage.Areyousure,
                                        OnFailure = "OnFailure",
                                        OnSuccess = "$('#" + rowId + "').remove()"
                                    }, new { @class = "btn btn-default" })
                                </div>

                            </td>

                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink(CommonViewMessage.Detail, "Detail", "Payment", new { paymentId = item.PaymentId }, null)
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function generateGUID() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
        function unMarkList() {
            $.each($(".fa-check-square-o"), function (i, element) {
                $(this).removeClass("fa-check-square-o").addClass("fa-square-o");
            });
            $.each($(".prop input[type=hidden]"), function (i, index) {
                $("#" + $(this).val()).remove();
            })
            $(".prop").remove();
        }
        function ajaxLoading() {
            $("#loading").show();
        }
        function remopveAjaxLoading() {
            $("#loading").hide();
        }
        var guid = generateGUID();
        $(function () {
            $(".dataprop, .datapropfull").attr("checked", false);
            var SelectedCount = 0
            $("body").on("click", ".dataprop", function () {
                if ($(this).is(':checked')) {
                    $(this).parents("tr").addClass("rowchecked");
                    SelectedCount++;
                }
                else {
                    $(".datapropfull").prop('checked', false);
                    $(this).parents("tr").removeClass("rowchecked");
                    SelectedCount--;
                }
                if (SelectedCount == 0) {
                    $("#_delBnnS").remove();
                    $("#_deacBnnS").remove();
                }
                else {
                    if ($("#_delBnnS").html() === undefined && $("#_deacBnnS").html() === undefined) {
                        $(".progroup").append('<button id="_delBnnS" onclick="DeleteSelectedStore()" class="btn btn-default btn-sm" title="@CommonViewMessage.Delete" ><i class="icon-trash"></i></button>');
                        $(".progroup").append('<button id="_deacBnnS" onclick="DeactivateSelectedStore()" class="btn btn-default btn-sm" title="@CommonViewMessage.Deactivate" ><i class="icon-eye-close"></i></button>')
                    }

                }
            });

            $("body").on("click", ".datapropfull", function () {
                if ($(this).is(':checked')) {
                    var count = 0;
                    $.each($(".dataprop"), function (index, element) {
                        count++;
                        $(this).prop('checked', true);
                        $(this).parents("tr").addClass("rowchecked");
                    });
                    if (count != 0) {
                        if ($("#_delBnnS").html() === undefined && $("#_deacBnnS").html() === undefined) {
                            $(".progroup").append('<button id="_delBnnS" onclick="DeleteSelectedStore()" class="btn btn-default btn-sm" title="@CommonViewMessage.Delete" ><i class="icon-trash"></i></button>')
                            $(".progroup").append('<button id="_deacBnnS" onclick="DeactivateSelectedStore()" class="btn btn-default btn-sm" title="@CommonViewMessage.Deactivate" ><i class="icon-eye-close"></i></button>')
                        }
                    }
                }
                else {
                    $("#_delBnnS").remove();
                    $("#_deacBnnS").remove();
                    $.each($(".dataprop"), function (index, element) {
                        $(this).prop('checked', false);
                        $(this).parents("tr").removeClass("rowchecked");
                    });
                }
            });
        });
        function DeleteSelectedStore() {
            alertify.confirm('@StoreViewMessage.StoreDeleteConfirm', function () {
                ajaxLoading();
                var selectedList = [];
                $.each($(".dataprop"), function (i, element) {
                    if ($(this).is(':checked')) {
                        selectedList.push($(this).val());
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Store")',
                    data: $.param({ StoreIds: selectedList }, true),
                    success: function (data) {
                        alertify.success(data.Message);
                        if (data.Success) {
                            $("tr.rowchecked").remove();
                            $("#_delBnnS").remove();
                        }
                        remopveAjaxLoading();
                    },
                    datatype: "json",
                    traditional: true,
                    error: function (xhr, ajaxOptions, thrownError) {
                        alertify.error(xhr.status);
                        alertify.error(thrownError);
                        remopveAjaxLoading();
                    }
                });
            });
        }

        function DeactivateSelectedStore() {
            alertify.confirm('@StoreViewMessage.StoreDeactivateConfirm', function () {
                ajaxLoading();
                var selectedList = [];
                $.each($(".dataprop"), function (i, element) {
                    if ($(this).is(':checked')) {
                        selectedList.push($(this).val());
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Deactivate", "Store")',
                    data: $.param({ StoreIds: selectedList }, true),
                    success: function (data) {
                        alertify.success(data.Message);
                        if (data.Success) {
                            $("tr.rowchecked").remove();
                            $("#_deacBnnS").remove();
                        }
                        remopveAjaxLoading();
                    },
                    datatype: "json",
                    traditional: true,
                    error: function (xhr, ajaxOptions, thrownError) {
                        alertify.error(xhr.status);
                        alertify.error(thrownError);
                        remopveAjaxLoading();
                    }
                });
            });
        }
    </script>
}
