@model Seldino.Application.Command.BannerHandler.CreateBannerCommand
@using Seldino.CrossCutting.Enums
@using Seldino.CrossCutting.Web.ViewMessages
@{
    string imgId = Guid.NewGuid().ToString("N");
}

@System.Web.Optimization.Styles.Render("~/Content/Datepicker")

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">@BannerViewMessage.CreateBannerPageTitle</h4>
        @using (Html.BeginForm("Create", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.Label(BannerViewMessage.StartDate, new { @class = "col-xs-4 col-sm-3 col-md-2 control-label" })
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            @Html.TextBoxFor(p => p.StartDate, new { @class = "form-control date", placeholder = BannerViewMessage.StartDate })
                        </div>
                        @Html.ValidationMessageFor(c => c.StartDate)
                    </div>
                    <div class="form-group">
                        @Html.Label(BannerViewMessage.EndDate, new { @class = "col-xs-4 col-sm-3 col-md-2 control-label" })
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            @Html.TextBoxFor(p => p.EndDate, new { @class = "form-control date", placeholder = BannerViewMessage.EndDate })
                        </div>
                        @Html.ValidationMessageFor(c => c.EndDate)
                    </div>
                    <div class="form-group">
                        @Html.Label(BannerViewMessage.Fee, new { @class = "col-xs-4 col-sm-3 col-md-2 control-label" })
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            @Html.TextBoxFor(p => p.Fee, new { @class = "form-control", placeholder = BannerViewMessage.Fee })
                        </div>
                        @Html.ValidationMessageFor(c => c.Fee)
                    </div>
                    <div class="form-group">
                        @Html.Label(BannerViewMessage.Url, new { @class = "col-xs-4 col-sm-3 col-md-2 control-label" })
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            @Html.TextBoxFor(p => p.Url, new { @class = "form-control", placeholder = BannerViewMessage.Url })
                        </div>
                        @Html.ValidationMessageFor(c => c.Url)
                    </div>
                    <div class="form-group">
                        @Html.Label(BannerViewMessage.Caption, new { @class = "col-xs-12 col-sm-3 col-md-2 control-label" })
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            @Html.TextAreaFor(p => p.Caption, new { @class = "form-control", placeholder = BannerViewMessage.Caption })
                        </div>
                        @Html.ValidationMessageFor(c => c.Caption)
                    </div>
                    <div class="form-group">
                        @Html.Label(BannerViewMessage.BannerType, new { @class = "col-xs-4 col-sm-3 col-md-2 control-label" })
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            @Html.EnumDropDownListFor(model => model.BannerType, new { @class = "form-control", placeholder = BannerViewMessage.BannerType })
                        </div>
                        @Html.ValidationMessageFor(c => c.BannerType)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 ">
                    <input type="file" name="image" style="display: none" data-target="@imgId" />
                    <div class="unknowimg img-thumbnail filerep icon-plus" id="@imgId" data-file="@imgId"></div>
                </div>
            </div>
            <hr />
            <div class="btn-group">
                <button class="btn btn-sm btn-success" type="submit">@CommonViewMessage.Create</button>
            </div>
            <hr class="transparent" />
        }
        @Html.ValidationSummary(true)
    </div>
</div>
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
@System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

<script>
    var hasImage = false;
    $(function () {
        switch ($("#BannerType").val()) {
            case "0":
                $(".filerep").addClass("sliderw");
                break;
            case "1":
                $(".filerep").addClass("fixedw");
                break;
        }
        $("body").on("click", "div.filerep", function (e) {
            $("input[data-target=" + $(this).attr('data-file') + "]").click();
        });
        $('input[type=file]').on('change', prepareUpload);
        $(".date").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: new Date()
        });

    });
    $("body").on("change", "#BannerType", function () {
        switch ($(this).val()) {
            case "0":
                $(".fixedw").addClass("sliderw").removeClass("fixedw");
                break;
            case "1":
                $(".sliderw").addClass("fixedw").removeClass("sliderw");
                break;
        }
    })
    $("body").on("submit", "form", function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        if (hasImage) {
            document.getElementById("loading").style.display = "block";
            var form = e.target;
            if (form.getAttribute("enctype") === "multipart/form-data") {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open(form.method, form.action);
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xmlhttp.responseText;
                            }
                        }
                    }
                };
                xmlhttp.send(new FormData(form));
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        document.getElementById("loading").style.display = "none";
                        var result = JSON.parse(xmlhttp.responseText);
                        if (result.Success) {
                            alertify.success(result.Message);
                            @*window.location.href = "@Url.Action("List", "BannerSuperviser")";*@
                        }
                        else {
                            alertify.error(result.Message);
                        }
                    }
                }
            }
        }
        else {
            alertify.alert("@BannerViewMessage.ChooseImage");
        }
    })
    function prepareUpload(event) {
        hasImage = true;
        var target = $("#" + $(this).attr("data-target"));
        var dataTarget = $(this).attr("data-target");
        target.find(".imgremove").remove();
        target.removeClass("icon-plus");
        target.css("background-image", "url(" + URL.createObjectURL(event.target.files[0]) + ")").css("background-size", "auto 100%").append($("<i></i>").addClass("imgremove").addClass("btn").addClass("btn-danger").addClass("fa").addClass("icon-remove").on("click", function () { hasImage = false; target.html("").removeAttr("style"); target.addClass("icon-plus"); $("[data-target=" + dataTarget + "]").val(""); }));
    }
</script>

<style>
    .form-horizontal .control-label {
        text-align: right;
    }

    .form-horizontal .control-label {
        margin-bottom: 5px;
    }

    .field-validation-error {
        max-width: none;
    }
</style>