<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/Default")
    @System.Web.Optimization.Styles.Render("~/Content/Login")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts")
</head>
<body>
   @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>