@model Seldino.Application.Command.DiscountHandler.CreateDiscountCommand
@using Seldino.CrossCutting.Web.ViewMessages
@{
    ViewBag.Title = "ایجاد قالب فروشگاه";
}
@System.Web.Optimization.Styles.Render("~/Content/Datepicker")
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Discount", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.Label("نام قالب تخفیف", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 col-md-6">
                    @Html.TextBoxFor(p => p.Name, new { @class = "form-control", placeholder = "نام قالب تخفیف" })
                </div>
                @Html.ValidationMessageFor(c => c.Name)
            </div>
            <div class="form-group">
                @Html.Label("درصد تخفیف", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 col-md-6">
                    @Html.TextBox("Percentage", 1, new { @class = "form-control", placeholder = "درصد تخفیف", type = "number", min = "1", max = "100" })
                </div>
                @Html.ValidationMessageFor(c => c.Percentage)
            </div>
            <div class="form-group">
                @Html.Label("محدودیت تخفیف", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 col-md-6">
                    @Html.EnumDropDownListFor(p => p.DiscountLimitation, new { @class = "form-control", placeholder = "محدودیت تخفیف" })
                </div>
                @Html.ValidationMessageFor(c => c.DiscountLimitation)
            </div>
            <div class="form-group">
                @Html.Label("مبلغ تخفیف", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 col-md-6">
                    @Html.TextBox("Amount", 1000, new { @class = "form-control", placeholder = "مبلغ تخفیف", type = "number" })
                </div>
                @Html.ValidationMessageFor(c => c.Amount)
            </div>
            <div class="form-group">
                @Html.Label("تاریخ شروع", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 col-md-6">
                    @Html.TextBoxFor(p => p.StartDate, new { @class = "form-control date", placeholder = "تاریخ شروع" })
                </div>
                @Html.ValidationMessageFor(c => c.StartDate)
            </div>
            <div class="form-group">
                @Html.Label("تاریخ پایان", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 col-md-6">
                    @Html.TextBoxFor(p => p.EndDate, new { @class = "form-control date", placeholder = "تاریخ پایان" })
                </div>
                @Html.ValidationMessageFor(c => c.EndDate)
            </div>
            <div class="form-group">
                @Html.Label("توقف تخفیف", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-8 col-md-6">
                    @Html.CheckBoxFor(p => p.Stopped)
                </div>
                <hr class="transparent" />
                <div class="btn-group">
                    <button class="btn btn-sm btn-success" type="submit">@CommonViewMessage.Create</button>
                </div>
                <hr class="transparent" />
                @Html.ValidationMessageFor(c => c.Stopped)
            </div>
            @Html.ValidationSummary(true)
        }
    </div>
</div>
@System.Web.Optimization.Scripts.Render("~/bundles/datepicker")
@System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $.each($(".date"), function (i, e) {
            $(e).after($("<input />").attr("type", "hidden").attr("name", $(e).attr("name")).attr("id", $(e).attr("id")).val($(e).val())).removeAttr("id").attr("data-name", $(e).attr("name")).removeAttr("name");

        })
        $("body").on("change", ".date", function () {
            var date = $(this);
            $("#" + date.attr("data-name")).val(toGargDate(new Date(date.val())));
        })
        $(".date").datepicker({
            changeMonth: true,
            changeYear: true,
            isRTL: true,
            dateFormat: "yy/m/d",
            minDate: new Date()
        });
    })
    function toGargDate(date) {
        var day = date.getDate();
        var month = date.getMonth() + 1; //January is 0!
        var year = date.getFullYear();
        if (day < 10) day = '0' + day;
        if (month < 10) month = '0' + month;
        date = year + '-' + month + '-' + day;
        return moment(date, 'jYYYY/jM/jD').format('YYYY/M/D');
    }
    $(function () {
        $("body").on("submit", "form", function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            document.getElementById("loading").style.display = "block";
            var form = e.target;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open(form.method, form.action);
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    if (form.dataset.ajaxUpdate) {
                        var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                        if (updateTarget) {
                            updateTarget.innerHTML = xmlhttp.responseText;
                        }
                    }
                }
            };
            xmlhttp.send(new FormData(form));
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    document.getElementById("loading").style.display = "none";
                    var result = JSON.parse(xmlhttp.responseText);
                    if (result.Success) {
                        alertify.success(result.Message);
                        window.location.href = "@Url.Action("List", "Discount")";
                    }
                    else {
                        alertify.error(result.Message);
                    }

                }
            }
        })
    })
</script>